include:
  project: applifting-cloud-engineering/cicd-templates
  ref: main
  file: 
    - GitVersion/Base.gitlab-ci.yml

variables:
  HELM_CHART_NAME: "application"
  HELM_CHART_PATH: "."

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

image:
  name: registry.gitlab.com/applifting-cloud-engineering/images/helm-kubectl:3.12.2-1.24.16
  entrypoint: ["/bin/sh", "-c"]

stages:
  - versioning
  - test
  - tag
  - package
  - release


versioning:
  extends: .versioning
  stage: package

generate-readme:
  extends: .generate-readme
  stage: package

lint:
  stage: package
  script:
    - helm lint .

tag:
  extends: .tag
  stage: release
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - when: never
  needs: ["versioning", "generate-readme", "lint"]

release:
  stage: release
  needs: ["versioning", "generate-readme", "lint"]
  dependencies: ["versioning"]
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /(dev|main)/'
      when: on_success
    - when: manual
  before_script:
    - >
      if [[ "${TAG_NAME}" == "" ]]; then
        export CHART_VERSION=$CI_COMMIT_TAG
      else
        export CHART_VERSION=${TAG_NAME}
      fi
    - apk update
    - apk add nodejs npm
    - npm install -g @bitnami/readme-generator-for-helm
  script:
    - readme-generator --values "${HELM_CHART_PATH}/values.yaml" --readme "${HELM_CHART_PATH}/README.md"
    - helm repo add --username gitlab-ci-token --password ${CI_JOB_TOKEN} ${CI_PROJECT_NAME} ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable
    - helm lint .
    - helm package . --version "$CHART_VERSION"
    - helm cm-push $HELM_CHART_NAME-*.*.*.tgz ${CI_PROJECT_NAME}

.generate-readme:
  image:
    entrypoint: ['']
    name: alpine/git:2.43.0
  needs: ["versioning"]
  variables:
    GITLAB_KNOWN_HOSTS: |-
      gitlab.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAfuCHKVTjquxvt6CM6tdG4SLp1Btn/nOeHHE5UOzRdf
      gitlab.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsj2bNKTBSpIYDEGk9KxsGh3mySTRgMtXL583qmBpzeQ+jqCMRgBqB98u3z++J1sKlXHWfM9dyhSevkMwSbhoR8XIq/U0tCNyokEi/ueaBMCvbcTHhO7FcwzY92WK4Yt0aGROY5qX2UKSeOvuP4D6TPqKF1onrSzH9bx9XUf2lEdWT/ia1NEKjunUqu1xOB/StKDHMoX4/OKyIzuS0q/T1zOATthvasJFoPrAjkohTyaDUz2LN5JoH839hViyEG82yB+MjcFV5MU3N1l1QL3cVUCh93xSaua1N85qivl+siMkPGbO5xR/En4iEY6K2XPASUEMaieWVNTRCtJ4S8H+9
      gitlab.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY=
  before_script:
    - apk update
    - apk add nodejs npm
    - npm install -g @bitnami/readme-generator-for-helm
  script:
    - readme-generator --values "${HELM_CHART_PATH}/values.yaml" --readme "${HELM_CHART_PATH}/README.md"
    - eval $(ssh-agent -s)
    - echo "$GITLAB_DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$GITLAB_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git checkout $CI_COMMIT_REF_NAME
    - git remote set-url origin git@$CI_SERVER_HOST:$CI_PROJECT_PATH.git
    - git config --global user.email "{$GITLAB_USER_EMAIL}"
    - git config --global user.name "{$GITLAB_USER_NAME}"
    - >
      if git status --porcelain | grep -qE '[^[:space:]]+'; then
        git add ${HELM_CHART_PATH}/README.md
        git commit -m "Update README with auto-docs"
        git push origin $CI_COMMIT_REF_NAME -o ci.skip
      else
        echo "No changes in README.md detected."
      fi