include:
  project: applifting-cloud-engineering/cicd-templates
  ref: main
  file:
    - GitVersion/Base.gitlab-ci.yml

variables:
  HELM_CHART_NAME: "application"
  HELM_CHART_PATH: "."

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

image:
  name: registry.gitlab.com/applifting-cloud-engineering/images/helm-kubectl:3.12.2-1.24.16
  entrypoint: ["/bin/sh", "-c"]

stages:
  - fetch-repositories
  - render
  - comment-mr
  - versioning
  - test
  - tag
  - package
  - release

versioning:
  extends: .versioning
  stage: package

update-metadata:
  extends: .update-metadata
  stage: package
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never

lint:
  stage: package
  script:
    - helm lint .

tag:
  extends: .tag
  stage: release
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - when: never
  needs: ["versioning", "update-metadata", "lint"]

release:
  stage: release
  needs: ["versioning", "update-metadata", "lint"]
  dependencies: ["versioning"]
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /(dev|main)/'
      when: on_success
    - when: manual
  before_script:
    - >
      if [[ "${TAG_NAME}" == "" ]]; then
        export CHART_VERSION=$CI_COMMIT_TAG
      else
        export CHART_VERSION=${TAG_NAME}
      fi
    - apk update
    - apk add nodejs npm
    - npm install -g @bitnami/readme-generator-for-helm
    - cd ${HELM_CHART_PATH}
  script:
    - sed -e "s|CHART_PROJECT_URL|$CI_PROJECT_URL|g" -e "s|CHART_VERSION|$CHART_VERSION|g" Chart.yaml.tpl > Chart.yaml
    - readme-generator --values "values.yaml" --readme "README.md"
    - helm repo add --username gitlab-ci-token --password ${CI_JOB_TOKEN} ${CI_PROJECT_NAME} ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/stable
    - helm lint .
    - helm package . --version "$CHART_VERSION"
    - helm cm-push $HELM_CHART_NAME-*.*.*.tgz ${CI_PROJECT_NAME}
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never

.update-metadata:
  image:
    entrypoint: ['']
    name: alpine/git:2.43.0
  needs: ["versioning"]
  variables:
    GITLAB_KNOWN_HOSTS: |-
      gitlab.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAfuCHKVTjquxvt6CM6tdG4SLp1Btn/nOeHHE5UOzRdf
      gitlab.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsj2bNKTBSpIYDEGk9KxsGh3mySTRgMtXL583qmBpzeQ+jqCMRgBqB98u3z++J1sKlXHWfM9dyhSevkMwSbhoR8XIq/U0tCNyokEi/ueaBMCvbcTHhO7FcwzY92WK4Yt0aGROY5qX2UKSeOvuP4D6TPqKF1onrSzH9bx9XUf2lEdWT/ia1NEKjunUqu1xOB/StKDHMoX4/OKyIzuS0q/T1zOATthvasJFoPrAjkohTyaDUz2LN5JoH839hViyEG82yB+MjcFV5MU3N1l1QL3cVUCh93xSaua1N85qivl+siMkPGbO5xR/En4iEY6K2XPASUEMaieWVNTRCtJ4S8H+9
      gitlab.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY=
  before_script:
    - >
      if [[ "${TAG_NAME}" == "" ]]; then
        export CHART_VERSION=$CI_COMMIT_TAG
      else
        export CHART_VERSION=${TAG_NAME}
      fi
    - apk update
    - apk add nodejs npm
    - npm install -g @bitnami/readme-generator-for-helm
    - cd ${HELM_CHART_PATH}
  script:
    - eval $(ssh-agent -s)
    - echo "$GITLAB_DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$GITLAB_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git checkout $CI_COMMIT_REF_NAME
    - sed -e "s|CHART_PROJECT_URL|$CI_PROJECT_URL|g" -e "s|CHART_VERSION|$CHART_VERSION|g" Chart.yaml.tpl > Chart.yaml
    - readme-generator --values "values.yaml" --readme "README.md"
    - git remote set-url origin git@$CI_SERVER_HOST:$CI_PROJECT_PATH.git
    - git config --global user.email "{$GITLAB_USER_EMAIL}"
    - git config --global user.name "{$GITLAB_USER_NAME}"
    - git status
    - >
      if git status --porcelain | grep -qE '[^[:space:]]+'; then
        git add .
        git commit -m "Update chart metadata"
        git push origin $CI_COMMIT_REF_NAME -o ci.skip
      else
        echo "No changes detected."
      fi

fetch-repos:
  stage: fetch-repositories
  image:
    name: alpine/git:2.43.0
    entrypoint: [""]
  script:
    - mkdir ~/.ssh && ssh-keyscan -t rsa gitlab.com >> ~/.ssh/known_hosts
    - git clone "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/gto-wizard/devops/helm-charts/application" "$CI_PROJECT_DIR/cicd-temp/application-base"
    - git -C "$CI_PROJECT_DIR/cicd-temp/application-base" checkout "$CI_MERGE_REQUEST_TARGET_BRANCH_NAME"
    - git clone "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/gto-wizard/devops/k8s-resources" "$CI_PROJECT_DIR/cicd-temp/k8s-resources"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - templates/**
        - values.yaml
  artifacts:
    expire_in: 10 min
    paths:
      - cicd-temp/application-base
      - cicd-temp/k8s-resources

.parallel-hidden-job:
  parallel:
    matrix:
      - env: [dev, prod]

render:
  extends: .parallel-hidden-job
  stage: render
  # dependencies keyword to define a list of specific jobs to fetch artifacts from
  # The specified jobs must all be in earlier stages:
  dependencies:
    - fetch-repos
  image:
    name: alpine/helm:3.15.1
    entrypoint: ["/bin/sh", "-c"]
  script:
    - mkdir -p ./cicd-temp/diffs/$env
    - ./scripts/render-charts.sh "$CI_PROJECT_DIR" "$CI_PROJECT_DIR/cicd-temp/k8s-resources" "$env" > ./cicd-temp/diffs/$env/head.txt
    - ./scripts/render-charts.sh "$CI_PROJECT_DIR/cicd-temp/application-base" "$CI_PROJECT_DIR/cicd-temp/k8s-resources" "$env" > ./cicd-temp/diffs/$env/base.txt
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - templates/**
        - values.yaml
  artifacts:
    expire_in: 10 min
    paths:
      - cicd-temp/diffs/$env/

comment-mr:
  extends: .parallel-hidden-job
  image:
    name: registry.gitlab.com/gitlab-org/cli:latest
    entrypoint: [""]
  stage: comment-mr
  dependencies:
    - render
  # variables:
  #   GITLAB_TOKEN: $GITLAB_MR_COMMENT_PA_TOKEN
  script:
    - BASE_MANIFESTS=$(cat "./cicd-temp/diffs/$env/base.txt")
    - HEAD_MANIFESTS=$(cat "./cicd-temp/diffs/$env/head.txt")
    - DIFF_EXIT_CODE=0
    - DIFF_OUTPUT="$(diff -U 5 <(echo "$BASE_MANIFESTS") <(echo "$HEAD_MANIFESTS") 2>&1)" || DIFF_EXIT_CODE=$?
    - echo $DIFF_EXIT_CODE
    - if [[ $DIFF_EXIT_CODE -eq 0 ]]; then echo "Diff didn't find changes. Exiting.."; exit 0; fi
    - if [[ $DIFF_EXIT_CODE -gt 1 ]]; then printf "ERROR:\n$DIFF_OUTPUT"; exit 1; fi
    - GITLAB_DIFF_MR_COMMENT_CONTENT=$(./scripts/gitlab-diff-mr-comment-template.sh "$env" "$DIFF_OUTPUT")
    - echo "$GITLAB_DIFF_MR_COMMENT_CONTENT"
    # Project -> Settings -> Access Tokens, Create token with API scope. OR Profile -> Preferences -> Access Tokens, Create token with API scope
    # Project -> Settings -> CI/CD -> Variables, Store as GITLAB_MR_COMMENT_PA_TOKEN
    - export GITLAB_TOKEN=${GITLAB_MR_COMMENT_PA_TOKEN}
    - glab mr --repo "$CI_PROJECT_PATH" note "$CI_MERGE_REQUEST_IID" --unique=true --message "$GITLAB_DIFF_MR_COMMENT_CONTENT"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - templates/**
        - values.yaml
